* {
	box-sizing: border-box;
  {
      margin-bottom: 1.5rem;
    }
}

body {
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
    color: #233;
    background-color:antiquewhite;
}
h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
    color: #226;
}
h1, .tag{
  color:#22f;
  font-family: 'Dancing Script', cursive;
}
h1{
    font-size: 8rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
.tag {
    font-size: 3.5rem;
}
.kerdes{
    font-size: 1.5rem;
    font-style: oblique;
}
.par{
    max-width: 500px;
}
.hely{
    max-width: 400px;
}
.list li:after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #226;
}
.menu img{
    max-width: 100vw;
}
.menu{
    font-size: 1.25rem;
}
.menu:after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #226;
}
.helyszin, .menu, .gyik, .kontakt {
  width: 95%;
  margin: 1.2rem auto;
  padding: .5rem 1rem;
  text-align: center;
}
.script{
  width:90%;
  padding: 3rem 2rem;
  margin: 5rem auto;
  text-align: center;
  background-color: floralwhite;    
}
.script p{
    font-size: 1.5rem;
    text-align: left;
}
.script h2{
    padding: 3rem auto;
}
.script ul{
    list-style: square;
}
.list figcaption{
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}
.list li{
    padding-top: 5rem;
}
a {
    text-decoration: none;
    color: #233;
}
a:hover{
    color:#22f; 
}
.header_fix{
  background:url(assets/eljegyzes.jpg) no-repeat /*70%*/ center/cover;
  display: table;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.announce-text{
    padding: 10px;
    letter-spacing: 0.5rem;
}
.announce-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.date{
 font-size: 2.5rem; 
}
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #22f;
  height: 2px;
  width: 2.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}
.gyik{
  width:90%;
  padding: 3rem 2rem;
  margin: 5rem auto;
  text-align: left;
  background-color: floralwhite;
}
.kontakt:before {
  content: "";
  display: block;
  height: .1875rem;
  width: 90%;
  margin: 1.5rem auto;
  background-color: #226;
}
.kontakt .kerdes{
    font-style: normal;
    font-size: 2rem;
}
.gyik h2{
    text-align: center;
    padding-bottom: 2rem;
}
.szervezo{
    font-size: 1.5rem;
    font-style: normal;
    word-spacing: 2rem;
}
.szervezo ul{
    list-style-type: none;
}
.szervezo li{
    display: block;
    padding-bottom: 1rem;
    /*inlinére cserélni legszélesebben*/
}
/*bekapcsolni széles képernyőn!*/
.screenwide{
    font-size: 1.6rem;
    display:none;
}
a .email{
    text-decoration:inherit;
}
.footer {
  height: 10vh;
  width: 100vw;
  background-color: #606060;
  color: #fff;
  display: table;
  text-align: center;
  font-size: .9rem;
  font-family: monospace;
}
footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}
.footer p{
    margin: 2rem 0rem;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer .screenwide{
  color: #fff;
}
.footer a:hover{
    color: chartreuse;
}